.grid-item.search-grid-result
	a.content(href='breweries/#{item.breweryId}')
		.top-circle
			gravatar(url='#{item.gravatar}}', size='50px')
		h3 #{item.name}
		.type #{item.type}
		.meta
			.meta-table
				.meta-cell #{item.beers.length} Beers
				.meta-cell #{item.members.length} Brewers