.grid-item
	a.content(href='yeasts/#{result.yeastId}')
		.top-circle
			span(class='minibubble' style="background:rgba(231,200,126,1);")
			img(src='images/yeast-large.png', width='50', height='50', alt='Yeast')
		h3 #{result.name}
		.type #{result.species} Yeast
		.meta
			.meta-table
				.meta-cell #{result.productCode}
				if(result && result.supplier && result.supplier.name)
					.meta-cell #{result.supplier.name}