.grid-item.search-grid-result
	a.content(href='yeasts/#{item.yeastId}')
		.top-circle
			mb-colour-box.colour-box(absolutecolour='231,200,126', size='50px')
			img(src='images/yeast-large.png', width='50', height='50', alt='Yeast')
		h3 #{item.name}
		.type #{item.species} Yeast
		.meta
			.meta-table
				.meta-cell #{item.productCode}
				.meta-cell #{item.supplier.name}