.inner-wrapper
	section.yeast-meta.meta-info
		.inner-wrapper

			if item.temperatureLow || item.temperatureHigh
				.meta-bubble.temperature(title="Temperature range.")
					span(class='value') #{item.temperatureLow} - #{item.temperatureHigh}
					span.label C

			if item.flocculation
				.meta-bubble(title="Flocculation rate (the rate at which the yeast sinks to the bottom at fermentation end).")
					span.value #{item.flocculation}
					span.label Flocculation

			if item.alcoholTolerance
				.meta-bubble(title="The alcohol tolerance of the yeast.")
					span.value #{item.alcoholTolerance}
					span.label Tolerance

			if item.attenutionRange
				.meta-bubble(title="The attenution of the yeast (how much of the sugar it can calc.convert.convert to alcohol).")
					span.value #{item.attenutionRange}
					span.label Attenution

//- 	flocculation
//- alcoholTolerance
//- species
//- attenutionRange

section.the-content.notes.text
	.inner-wrapper
		p #{item.name} (#{item.productCode}) is a #{item.species.toLowerCase()} yeast, 
			if item.brewerySource
				| that was originally cultivated by #{item.brewerySource}, and is now 
			if item.supplier
				| supplied by 
				a(href="suppliers/#{item.supplier.id}") #{item.supplier.name}.
		p(title="Notes") #{item.notes}
		p(title="Pitching notes") #{item.pitchingFermentationNotes}


//- yeastId: 143,
//- name: "Abbey Ale Yeast",
//- temperatureHigh: 85,
//- temperatureLow: 60,
//- flocculation: "75-88",
//- alcoholTolerance: "High",
//- productCode: "WLP530",
//- notes: "Used to produce Trappist style beers. Similar to WLP500, but is less fruity and more alcohol tolerant (up to 15% ABV).",
//- type: null,
//- brewerySource: "Westmalle",
//- species: "Ale",
//- attenutionRange: "Medium-High",
//- pitchingFermentationNotes: "More ester development via underpitching and/or higher fermentation temperature. 80+ Fermentation temperature results in aggressive, highly attenuative yeast character",
//- supplier: {
//- id: 29,
//- name: "Vintner's Harvest"
//- },
//- dataType: "yeast",
//- custom: false
//- }
