.inner-wrapper
	section.yeast-meta.meta-info
		.inner-wrapper

			if item.temperature.low || item.temperature.high
				.meta-bubble.temperature(title="Temperature range.")
					span(class='value') #{item.temperature.low} - #{item.temperature.high}
					span.label C

			if item.flocculation
				.meta-bubble(title="Flocculation rate (the rate at which the yeast sinks to the bottom at fermentation end).")
					span.value #{item.flocculation}
					span.label Flocculation

			if item.alcoholTolerance
				.meta-bubble(title="The alcohol tolerance of the yeast.")
					span.value #{item.alcoholTolerance}
					span.label Tolerance

			if item.attenutionRange
				.meta-bubble(title="The attenution of the yeast (how much of the sugar it can calc.convert.convert to alcohol).")
					span.value #{item.attenutionRange}
					span.label Attenution

			if item.species
				.meta-bubble
					span.value #{item.species}
					span.label Species

section.the-content.notes.text
	.inner-wrapper
		p #{item.name} (#{item.productCode}) is a #{item.species.toLowerCase()} yeast, 
			if item.brewerySource
				| that was originally cultivated by #{item.brewerySource}, and is now 
			if item.supplier
				| supplied by 
				a(href="suppliers/#{item.supplier.id}") #{item.supplier.name}.

		if item.notes
			h2 Notes
			p(title="Notes") #{item.notes}

		if item.pitchingFermentationNotes
			h2 Fermentation notes
			p(title="Pitching notes") #{item.pitchingFermentationNotes}
