.grid-item.search-grid-result
	a.content(href='hops/#{item.hopId}')
		.top-circle
			span(class='minibubble' style="display:inline-block;width:50px;height:50px;padding:0;margin:0;border-radius:50%;border:1px solid rgba(0,0,0,0.2);background:rgba(0,128,64,1);")
			img(src='images/hops-large.png', width='50', height='50', alt='Hop')
		h3 #{item.name}
		.type Hop
		.meta
			.meta-table
				.meta-cell #{item.aaLow} - #{item.aaHigh}% AA
				.meta-cell #{item.betaLow} - #{item.betaHigh}% Beta