.grid-item
	a.content(href='hops/#{result.hopId}')
		.top-circle
			span(class='minibubble' style="background:rgba(0,128,64,1);")
			img(src='images/hops-large.png', width='50', height='50', alt='Hop')
		h3 #{result.name}
		.type Hop
		.meta
			.meta-table
				.meta-cell #{result.acids.alpha.low} - #{result.acids.alpha.high}% AA
				.meta-cell #{result.acids.beta.low} - #{result.acids.beta.high}% Beta