div.hop.list-item
	.meta-wrapper
		if result.acids && result.acids.alpha && result.acids.alpha.high
			span.meta.aa(title='Alpha acids contributes bitterness') #{result.acids.alpha.low} - #{result.acids.alpha.high}% AA
		if result.acids && result.acids.beta && result.acids.beta.high
			span.meta.ba(title='Beta acids contributes the hoppy, herbal flavour') #{result.acids.beta.low} - #{result.acids.beta.high}% Beta
		if result.ibu
			span.meta.ibu(title='The total contribution to bitterness of the beer') 12.33 IBU
			
	.left-circle
		span(class='minibubble' style="background: url('images/hops-large.png') center center;background-size:contain;background-color:rgba(0,128,64,1);")
	if showStatic
		input.amount(value="#{result.amount}")
		input.name(value="#{result.name}")
	else
		if result.amount
			span.amount #{result.amount} grams
		h3.name 
			a(href="hops/#{result.hopId}") #{result.name}
		if result.hopForm
			span.form #{result.hopForm.name}
