.inner-wrapper
	section.hop-meta.meta-info
		.inner-wrapper
			if item.acids.alpha.low || item.acids.alpha.high
				.meta-bubble.alpha-acids(title='Alpha acids contribute bitterness in addition to having a mild anti bacterial effect.')
					span(class='value') #{item.acids.alpha.low} - #{item.acids.alpha.high}%
					span.label Alpha Acids (AA)
			if item.acids.beta.low || item.acids.beta.high
				.meta-bubble.beta-acids(title="Beta acids contribute to a beer's aroma. over Time they may oxidise into compounds that can give beer off-flavours.")
					span(class='value') #{item.acids.beta.low} - #{item.acids.beta.high}%
					span.label Beta Acids (BA)
			if item.origin
				.meta-bubble.origin(title='Origin')
					span.value.minibubble(style="background: url('#{country.getImageByName(item.origin.name)}') center center !important;background-size: 152% !important;width:30px;height:30px;border-radius:50%;")
					span.label #{item.origin.name}
			if item.supplier
				.meta-bubble(title='Maltster/supplier')
					span.value.supplier
						span.minibubble
						a(href="suppliers/#{item.supplier.id}") #{item.supplier.name}
					span.label SUPPLIER

	if item.flavours.length > 0 || item.flavourDescription
		section.flavours
			.inner-wrapper
				h2 Flavours and aroma
				if item.flavours.length > 0
					.meta
						span.flavours
							| Tastes of  #{ item.flavours.join(', ')}
				.meta
					p #{item.flavourDescription}

	if item.notes || item.purpose
		section.notes.text 
			.inner-wrapper
				h2 Notes
				if item.purpose
					p #{item.name} is generally used for 
						strong #{item.purpose}
						| .

				p #{item.notes}

	section.acids
		.inner-wrapper
			h2 Acid breakdown
			table.zebra.oils
				tr
					th Acid
					th minimum
					th maximum
				each range, name in item.acids
					if range.low !== 0 || range.high !== 0
						tr 
							td #{name}
							td #{range.low}%
							td #{range.high}%
	section.oils
		.inner-wrapper
			h2 Oil breakdown
			table.zebra.oils
				tr
					th Oil
					th minimum
					th maximum
				each range, name in item.oils
					if range.low !== 0 || range.high !== 0
						tr 
							td #{name}
							td #{range.low}%
							td #{range.high}%

	if item.beerstyles.length > 0
		section.beerstyles
			.inner-wrapper
				h2 Beerstyles
				p.description.center #{item.name} is often used in these beerstyles:
				br
				ul.listItem-list.beerstyle
					each result in item.beerstyles
						li
							div.list-item
								.left-circle
									span.minibubble
								a(href='/beerstyles/#{result.id}') #{result.name}


if item.substitutes && item.substitutes.length > 0
	section.substitutes.the-content
		h2 Substitutes
		.inner-wrapper
			ul.grid-list
				each result in item.substitutes
					li
						include listItem.jade
