if headline
	header
		.inner-wrapper
			.header-bubble
				case type
					when 'fermentables'
						if item
							span(class='bubble' style="background:rgba(#{calc.convert.convert(item.lovibond, 'lovibond', 'rgb')},1);")
						else
							span(class='bubble' style="background:rgba(#{calc.convert.convert(results[0].lovibond, 'lovibond', 'rgb')},1);")
						img(src='images/fermentable-large.png', width='72', height='72', alt='Malt')

					when 'hops'
						span(class='bubble', style="background:rgba(0,128,64,1);")
						img(src='images/hops-large.png', width='72', height='72', alt='Hop')

					when 'suppliers'
						if item
							if item.avatar
								span(class='bubble', style="background: url('http://img.microbrew.it/#{item.avatar}') center center;background-color: #333;background-size: cover;")
							else
								span(class='bubble', style="background: url('/images/supplier-large.png') center center;background-color: #006DD9;background-size: contain;")
						else
							span(class='bubble', style="background: url('/images/supplier-large.png') center center;background-color: #006DD9;background-size: contain;")

					when 'breweries'
						if item
							if item.avatar !== null
								span(class='bubble', style="background: url('http://img.microbrew.it/#{item.avatar}') center center;background-color: #333;background-size: cover;")
							else if item.origin && item.origin.name && item.origin.name !== "Unknown" && item.origin.name !== ""
								span(class='bubble', style="background: url('#{country.getImageByName(item.origin.name)}') center center;background-size: 152%;")
							else
								span(class='bubble', style="background: url('/images/brewery-large.png') center center;background-color: #B22D00;background-size: contain;")
						else
							span(class='bubble', style="background: url('/images/brewery-large.png') center center;background-color: #B22D00;background-size: contain;")

					when 'beers'
						if item
							span(class='bubble', style="background:rgba(#{calc.convert.convert(item.srm.standard, 'srm', 'rgb')},1);")
						else
							span(class='bubble', style="background:rgba(#{calc.convert.convert(15, 'srm', 'rgb')},1);")
						img(src='images/tulip-large.png', width='72', height='72', alt='Beer')

					when 'origins'
						if item
							span(class='bubble', style="background: url('#{country.getImageByName(item.name)}') center center;background-size: 152%;")
						else
							span(class='bubble', style="background: url('images/globe-large.png') center center;")

					when 'beerstyles'
						if item
							span(class='bubble' style="background:rgba(#{calc.convert.convert((item.srm.low+item.srm.high)/2, 'srm', 'rgb')},1);")
						else
							span(class='bubble' style="background:#FF8000")
						img(src='images/beerstyle-large.png', width='72', height='72', alt='Hop')

					when 'glasses'
						if item
							span(class='bubble', style="background:#333;")
							img(src='images/tulip-large.png', width='72', height='72', alt='#{item.name}')

					when 'users'
						if item
							if item.gravatar
								span(class='bubble', style="background: url('#{item.gravatar}') center center;background-color:#00D9D9;background-size: contain;")
							else
								span(class='bubble', style="background: url('images/users-large.png') center center;background-color: #00D9D9;background-size: contain;")
						else
							span(class='bubble', style="background: url('images/users-large.png') center center;background-color: #00D9D9;background-size: contain;")

					when 'account'
						if user
							if user.gravatar
								span(class='bubble', style="background: url('#{user.gravatar}') center center;background-size: contain;")
							else
								span(class='bubble', style="background: url('images/users-large.png') center center;background-color: #00D9D9;background-size: contain;")
						else
							span(class='bubble', style="background: url('images/users-large.png') center center;background-color: #00D9D9;background-size: contain;")

					when 'yeasts'
						span(class='bubble' style="background:rgba(231,200,126,1);")
						img(src='images/yeast-large.png', width='72', height='72', alt='Yeast')

					when 'others'
						span(class='bubble' style="background:#FF7373;")
						img(src='images/others-large.png', width='72', height='72', alt='Others')

					default
						span(class='bubble' style="background:rgba(231,200,126,1);")

			h1(itemprop="name") #{headline.headline}
			if headline.subheader && headline.subheader !== "undefined"
				.subheader
					span !{headline.subheader}
