
nav#main-navigation
	ul.inner-wrapper
		li.logo-text
			a(href="/" class=navigationState === 'home' ? 'active':'') Microbrew.it
		li
			a(href='/beers/add', class=navigationState === 'recipe' ? 'active':'') Add new recipe
		li
			a(href='/beers', class=navigationState === 'beers' ? 'active':'') Beer
		li
			a(href='/breweries', class=navigationState === 'breweries' ? 'active':'') Breweries
		li
			a(href='/users', class=navigationState === 'brewers' ? 'active':'') Brewers
		li
			a(href='ingredients', class=navigationState === 'ingredients' ? 'active':'') Ingredients
		li
			a(href='search', class=navigationState === 'search' ? 'active' : '') Search
		
		if user
			li.right
				a.user.minidisplay(href='account')
					if user.gravatar
						span(class='microbubble' style="background: url('#{user.gravatar}') center center;background-size: contain;")
					else
						span(class='microbubble' style="background: url('/random/#{user.username}?size=50') center center;background-size: contain;")
					span #{user.username}
		else
			li.right
				a(href='login', class=navigationState === 'login' ? 'active':'') Login