
nav#main-navigation
	ul
		li.logo-text
			a(href="/" class=navigationState === 'home' ? 'active':'') Microbrew.it
		li
			a(href='/add', class=navigationState === 'recipe' ? 'active':'') Add new recipe
		li
			a(href='/beers', class=navigationState === 'beers' ? 'active':'') Beer
		li
			a(href='/breweries', class=navigationState === 'breweries' ? 'active':'') Breweries
		li
			a(href='/users', class=navigationState === 'brewers' ? 'active':'') Brewers
		li
			a(href='ingredients', class=navigationState === 'ingredients' ? 'active':'') Ingredients
		li
			a(href='search', class=navigationState === 'search' ? 'active' : '') Search
		
		if user
			li.right
				a(href='/account/settings', class=navigationState === 'account' ? 'active':'')
					gravatar(url='#{user.gravatar}', size='20px', style='display: inline-block;margin-right: 5px;')
					| #{user.username}
		else
			li.right
				a(href='login', class=navigationState === 'login' ? 'active':'') Login