.inner-wrapper
	section.fermentable-meta.meta-info
		.inner-wrapper
			.meta-bubble(title="Lovibond is a measure of a grain's colour.")
				span(class='value') 
					span(class='minibubble' style="background:rgba(#{calc.convert.convert(item.lovibond, 'lovibond', 'rgb')},1);") &nbsp;
					span.minibubble-label #{item.lovibond}
				span.label °L 
			.meta-bubble(title='PPG describes the sugar contents of a malt')
				span(class='value') #{item.ppg}
				span.label PPG
			.meta-bubble(title='')
				span(class='value') #{item.subType}
				span.label Class
			if item.supplier
				.meta-bubble(title='Maltster/supplier')
					span(class='value') 
						a(href="suppliers/#{item.supplier.id}") #{item.supplier.name}
					span.label SUPPLIER
			if item.superFermentableId
				.meta-bubble(title='Maltster/supplier')
					span(class='value') 
						a(href="suppliers/#{item.superFermentableId}") Category

include ../../subnavigation.jade

if item.subFermentables.length > 0
	.the-content
		.inner-wrapper.fermentables
			h2 Sub types
			ul.listItem-list
				each result in item.subFermentables
					li
						div.list-item
							a(href='/fermentables/#{result.id}') #{result.name}