.header-bubble.inner-wrapper
	.icon
		mb-colour-box.colour-box(type='lovibond', colour='#{fermentable.lovibond}', size='76px')
		img(src='images/fermentable-large.png', alt='Malt')
article.single-fermentable
	h1 #{fermentable.name}
	.subheader
		#{fermentable.type}
	section.the-content
		.inner-wrapper
			.meta
				span.lovibond(title="Lovibond is a measure of a grain's colour.")
					| Colour: 
					strong
						| #{fermentable.lovibond}°L 
						mb-colour-box.colour-box(type='lovibond', colour='#{fermentable.lovibond}', size='20px')
				span.ppg(title='PPG descripbes the sugar contents of a malt')
					| PPG: 
					strong #{fermentable.ppg}