.grid-item.search-grid-result
	a.content(href='beerstyles/#{item.beerStyleId}')
		h3 #{item.name}
		.type Beer Style
		.meta
			.meta-table
				.meta-cell #{item.ogLow} - #{item.ogHigh}
				.meta-cell #{item.fgLow} - #{item.fgHigh}