.grid-result.search-grid-result
	a.content(href='beers/#{result.id}')
		.top-circle
			span(class='minibubble' style="display:inline-block;width:50px;height:50px;padding:0;margin:0;border-radius:50%;border:1px solid rgba(0,0,0,0.2);background:rgba(#{convert(result.srm.standard, 'srm', 'rgb')},1);")
			img(src='images/tulip-large.png', width='50', height='50', alt='Beer')
		h3 #{result.name}
		.type #{result.beerStyle.name}
		.meta
			.meta-table
				.meta-cell.third #{result.abv.standard.toFixed(1)}% ABV
				.meta-cell.third #{result.ibu.tinseth} IBU
				.meta-cell.third #{result.srm.standard} SRM