.inner-wrapper
	section.beer-meta.meta-info
		.inner-wrapper
			if item.abv
				.meta-bubble
					span(class='value' title="ABV or alcohol by volume is how many % of the beer's volume that consists of alcohol.") #{item.abv.standard}%
					span.label ABV
			if item.recipe
				if item.recipe.og
					.meta-bubble
						span(class='value' title='OG or original gravity is the boyency of the liquid after the mash. It is used to calculate ABV.') #{item.recipe.og.toFixed(3)}
						span.label OG
				if item.recipe.fg
					.meta-bubble
						span(class='value' title='FG or final gravity is the boyency of the beer after fermentation. It is used to calculate ABV.') #{item.recipe.fg.toFixed(3)}
						span.label FG
			if item.ibu
				.meta-bubble
					span(class='value' title='IBU/EBU is a measure of the bitterness of the beer.') #{item.ibu.tinseth}
					span.label IBU
			if item.srm
				.meta-bubble
					span(class='value' title='SRM/EBC is used to measure the colour of the beer.') #{item.srm.standard}
					span.label SRM

include ../../subnavigation.jade

if item.breweries.length > 0 || item.brewers.length > 0
	.inner-wrapper.breweries.brewers
		h2 Brewed by
		br
		ul.listItem-list
			each result in item.breweries
				li
					div.list-item.brewery
						.left-circle
							span.minibubble
						if result.breweryId
							a(href='/breweries/#{result.breweryId}') #{result.name}
						if result.id
							a(href='/breweries/#{result.id}') #{result.name}
			each result in item.brewers
				li
					div.list-item.brewer
						.left-circle
							span.minibubble
						if result.brewerId
							a(href='/breweries/#{result.brewerId}') #{result.name}
						if result.id
							a(href='/breweries/#{result.id}') #{result.name}

if item.recipe && item.recipe.steps
	section.recipe.the-content
		ul.steps
			each step in item.recipe.steps
				if (step.type === 'mash')
					li.mash.step-wrapper(title="Mash step")
						.inner-wrapper
							.step-number #{step.stepNumber}
							.step-meta Mash #{step.volume} liters for #{step.length} minutes at #{step.temperature} celcius
							include recipeStep.jade

				else if (step.type === 'sparge')
					li.sparge.step-wrapper(title="Sparge step")
						.inner-wrapper
							| SPARGE TODO

				else if (step.type === 'boil')
					li.boil.step-wrapper(title="Boil step")
						.inner-wrapper
							.step-number #{step.stepNumber}
							.step-meta
								span.step-type
									| Boil
								span.values
									label(for='length') Add at #{step.length} minutes
							include recipeStep.jade

				else if (step.type === 'fermentation')
					li.fermentation.step-wrapper(title="Fermentation step")
						.inner-wrapper
							.step-number #{step.stepNumber}
							.step-meta
								span.step-type
									| Fermentation
								span.values
									label(for='length') Duration #{step.length} days
									label(for='length') Temperature #{step.temperature} celcius
							include recipeStep.jade
