section.beer-meta
	.inner-wrapper
		section.meta.calculations
			span.abv(title="ABV or alcohol by volume is how many % of the beer's volume that consists of alcohol.")
				| Alcohol: 
				strong
					mb-abv(og='#{item.recipe.og}', fg='#{item.recipe.fg}', formula='microbrewit')
					| %
			span.og(title='OG or original gravity is the boyency of the liquid after the mash. It is used to calculate ABV.')
				| Original Gravity: 
				strong #{item.recipe.og.toFixed(3)}
			span.fg(title='FG or final gravity is the boyency of the beer after fermentation. It is used to calculate ABV.')
				| Final Gravity: 
				strong #{item.recipe.fg.toFixed(3)}
			span.bitterness(title='IBU/EBU is a measure of the bitterness of the beer.')
				| Bitterness: 
				strong #{item.ibu.tinseth} IBU
			span.colour(title='SRM/EBC is used to measure the colour of the beer.')
				| Colour: 
				strong #{item.srm.standard} SRM
section.recipe
	section.mash.steps
		.inner-wrapper
			ul
				each step in item.recipe.mashSteps
					li.step-wrapper
						.step-number #{step.stepNumber}
						.step-meta
							span.step-type Mash step
							span.values
								label(for='length') Volume #{step.volume}
								label(for='length') Length: #{step.length}
								label(for='length') Temperature: #{step.temperature} celcius
						include recipeStep.jade
	section.boil.steps
		.inner-wrapper
			ul
				each step in item.recipe.boilSteps
					li.step-wrapper
						.step-number #{step.stepNumber}
						.step-meta
							span.step-type Boil step
							span.values
								label(for='length') Add at: #{step.length}
								label(for='volume') Volume: #{step.volume} liters
						include recipeStep.jade
	section.fermentation.steps
		.inner-wrapper
			ul
				each step in item.recipe.fermentationSteps
					li.step-wrapper
						.step-number #{step.stepNumber}
						.step-meta
							span.step-type Fermentation step
							span.values
								label(for='length') Duration: #{step.length} days
								label(for='length') Temperature: #{step.temperature} celcius
						include recipeStep.jade
